<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

<div class="signup__container">
    <div class="container__child signup__thumbnail">
      <div class="thumbnail__content text-center">
        <h1 class="heading--primary">Welcome to e-Clinic..</h1>
      </div>
    </div>

    <div class="container__child signup__form">  
      <div class="form-style-10">
        <h1>Sign Up Now!</h1>
        <form>
            <div class="inner-wrap">
                <label>Your Full Name <input type="text" name="field1" /></label>
                <label>Address <textarea name="field2"></textarea></label>
                <label>Phone Number <input type="text" name="field4" /></label>
                <label>Email Address <input type="email" name="field3" /></label>
                <label>Password <input type="password" name="field5" /></label>
                <label>Confirm Password <input type="password" name="field6" /></label>
            </div>
            <div class="button-section">
             <input type="submit" name="Sign Up" />
             <span class="privacy-policy">
             <input type="checkbox" name="field7">You agree to our Terms and Policy. 
             </span>
            </div>
        </form>
        <br>
          <div class="m-t-lg">
              <a class="signup__link" routerLink="/login-component" routerLinkActive="active">I am already a member</a>
          </div>
        </div>

    </div>
  </div>

  